@model IEnumerable<RopeysDVD.Models.LoanType>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-danger">All LoanTypes</h1>


<p>
    <a asp-action="Create" class="btn btn-primary ms-lg-2">New LoanType</a>

</p>
<table class="table table-hover table-striped  text-center">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="px-3 table-secondary">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDuration)
            </td>
            <td>
                <a asp-action="Edit"  class="btn btn-secondary" asp-route-id="@item.LoanTypeNumber">Edit</a> 
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.LoanTypeNumber">Details</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.LoanTypeNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
